html {
    margin: 0;
}
body {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    margin: 0;
}

a { text-decoration: none}

.portfolio-header{
    flex: 1;
    text-align: center;
    color: #212529;
    background-color: #00ABE4;
    text-align: center;
    margin: 0;
    padding: 0;
}
.portfolio-name
{
    font-weight: 1200;
    color: #212529;
    justify-content: center;
}
.name-title{
    margin: 0;
    margin-top: 10px;
}
.urls{
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}
.url{
    background-color: #E9F1FA;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.icon-link
{
    text-decoration: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.portfolio-blob{
    flex: 1;
    height:100%;
    font-weight: 1200;
    color: #212529;
    justify-content: center;
    font-size: 24px;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0) rotate(-135deg);}
    50% { transform: translateY(-20px) rotate(-135deg);}
}

.arrow {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.arrow div {
    height: 20px;
    width: 20px;
    border-top: 8px solid #FFF;
    border-left: 8px solid #FFF;
    animation: bounce 1s infinite;
    cursor: pointer;
}
.scroll-button
{
    width: 100%;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slide
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-conter: center;
    scroll-snap-align: start;
    margin-bottom: 10px;
}
.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0;
    
    background-color: #E9F1FA;
}

.item-header img{
    width: 250px;    
    height: auto;
}

.portfolio-content
{
    text-align: start;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    margin: 0;
}
.item-header
{
    font-size: 32px;
    font-weight: 1200;
}

.item-description a
{
    text-decoration: underline;
}

.icon-text-wrapper {
    display: inline-flex;
    width: 30%;
    flex-direction: column;
    /* Optional: add some space between the icon and text */
    gap: 8px; 
}

.icon-text-wrapper span
{
    text-align: center;
}


.icon{
    object-fit: contain;
    height: 50px;
    width: auto;
}

// desktop pointer media
@media (min-width: 500px) {
    body {
        font-size: 12px;
        width: 100%;
        height: 100%;
    }
    .portfolio-blob
    {
        font-size: 12px;
    }
}