html, body {min-height: 100%;}
html {
    margin: 0;
}
body {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #E9F1FA;
    margin: 0;
}
.wf-loading * {
    animation-play-state: paused !important;
    animation: none !important;
    transition: none !important;
}

a { text-decoration: none}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.background-shapes {
    fill-opacity: 0.0;
}
.transparent-shape1 {
    animation: move1 60s linear infinite;
}

.transparent-shape2 {
    animation: move2 60s linear infinite;
}

.transparent-shape3 {
    animation: move3 60s linear infinite;
}

.transparent-shape4 {
    animation: move4 60s linear infinite;
}


.portfolio-header {
    position: relative;  /* This will keep the SVG within the portfolio-header div */
    background-color: #00ABE4;
    text-align: center;
    color: #212529;
}

.portfolio-name
{
    margin-top: 10vh;
    opacity: 0;
    font-weight: 1200;
    color: #212529;
    justify-content: center;
}
.name-title{
    margin: 0;
    margin-top: 10px;
}
.urls{
    opacity: 0;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}
.url {
    position: relative;
    display: inline-block;
    height: 40px;
    overflow: hidden;
}

.url::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #009ACD;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.url:hover::after {
    opacity: 0.5;
}

.url img{
    height: 40px;
    width: auto;
    object-fit: contain;
}

.icon-link
{
    text-decoration: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.portfolio-blob{
    opacity: 0;
    flex: 1;
    height:100%;
    font-weight: 1200;
    color: #212529;
    justify-content: center;
    font-size: 24px;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0);opacity: 0.75; }
    50% { transform: translateY(-20px);opacity: 0.75; }
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;  /* Adjust as needed */
    margin-bottom: 100px;
    z-index: 1;
}

.arrow {
    opacity: 0;
    animation: bounce 1s infinite;
}

.slide
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-conter: center;
    scroll-snap-align: start;
    margin-bottom: 10px;
}
.container {
    width: 100% ;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0;
    background-color: #E9F1FA;
}

.item-header img{
    width: 250px;    
    height: auto;
}

.portfolio-content
{
    text-align: start;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    margin: 0;
}
.item-header
{
    font-size: 20px;
    font-weight: 1200;
}

.project-link
{
    text-decoration: underline;
}

.icon-text-wrapper {
    display: inline-flex;
    width: 30%;
    flex-direction: column;
    /* Optional: add some space between the icon and text */
    gap: 8px; 
}

.icon-text-wrapper span
{
    text-align: center;
}


.icon{
    object-fit: contain;
    height: 50px;
    width: auto;
}

.gif
{
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}
.slide-in-fade-in{
    animation: fade-in 0.5s ease-out forwards;
}

.slide-in-fade-in2{
    animation: fade-in 0.5s ease-out 0.5s forwards;
}

.slide-in-fade-in3{
    animation: fade-in 0.5s ease-out 1s forwards;
}
@keyframes slide-in-fade-in {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move1 {
    0% { transform: translate(0, 0); fill-opacity: 0.2 }
    50% { transform: translate(400px, 400px); fill-opacity: 0.2}
    100% { transform: translate(0, 0); fill-opacity: 0.2 }
}

@keyframes move2 {
    0% { transform: translate(0, 0); fill-opacity: 0.2 }
    50% { transform: translate(-400px, 400px); fill-opacity: 0.2}
    100% { transform: translate(0, 0); fill-opacity: 0.2 }
}

@keyframes move3 {
    0% { transform: translate(0, 0); fill-opacity: 0.2 }
    50% { transform: translate(400px, -400px); fill-opacity: 0.2}
    100% { transform: translate(0, 0); fill-opacity: 0.2 }
}

@keyframes move4 {
    0% { transform: translate(0, 0); fill-opacity: 0.2 }
    50% { transform: translate(-400px, -400px); fill-opacity: 0.2}
    100% { transform: translate(0, 0); fill-opacity: 0.2 }
}

@media (min-width: 568px) {
    body {
        font-family: 'Montserrat';
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color: #212529;
        background-color: #E9F1FA;
        margin: 0;
    }
    .slide{
        width: 80%;
        padding: 0 10%;
        margin: 0 auto;
    }
    .icon{
        height: 50px;
    }
}
@media (min-width: 1024px) {
    .slide{
        width: 50%;
        padding: 0 25%;
        margin: 0 auto;
    }
    .gif
    {
        width: 100%;
        height: 150px;
        object-fit: contain;
        margin-bottom: 10px;
    }
    .icon{
        height: 100px;
    }
}
@media (min-width: 1440px) {
    .slide
    {
        scroll-snap-align: none;
        height: auto;
        margin-bottom: 100px;
    }
    .portfolio-header
    {
        height: 100vh;
    }
    .gif
    {
        width: 100%;
        height: 200px;
        object-fit: contain;
        margin-bottom: 10px;
    }
}